<div class="user-details__content">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-primary" role="alert">
                    <h2>User profile</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <img [src]="user.avatar_url" class="card-img-top user-details__card-img">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }}</h5>
                        <p class="card-text">Username: {{ user.login }}</p>
                        <p class="card-text">Location: {{ user.location }}</p>
                        <p class="card-text">URL: {{ user.html_url }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="user-details__list-content">
                    <h4>Public Repositories</h4>
                    <ul class="list-group">
                        <li *ngFor="let rep of repos; let i=index" class="list-group-item">
                            {{ rep.full_name }}
                        </li>
                    </ul>
                </div>
                <div class="user-details__list-content">
                    <h4>Followers</h4>
                    <ul class="list-group">
                        <li *ngFor="let follow of followers; let i=index" class="list-group-item">
                            {{ follow.login }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>